.logo{
    text-shadow: 2px 4px 6px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}
.nav-item{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-shadow:2px 4px 6px;
}
